{% extends "../../layouts/base.twig" %}

{% block page %}
    <span class="svg-icon" name="cloud-drizzle"></span>
    <span class="svg-icon" name="cloud-drizzle"></span>
    <span class="svg-icon" name="cloud-drizzle"></span>
    <span class="svg-icon" name="icon_scheduled"></span>
    <span class="svg-icon" name="icon_scheduled"></span>
    <ul>
        {% for value in benefits %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>
{% endblock %}
