{% extends "../../layouts/base.twig" %}

{% block page %}
  <div class="container layout__container">
    <section class="section section--main layout__main">
      <h1 class="section__title">Главное</h1>
      <div class="section__container main__container">
        <span class="svg-icon" name="cloud-drizzle"></span>
        <span class="svg-icon" name="cloud-drizzle"></span>
        <span class="svg-icon" name="cloud-drizzle"></span>
        <span class="svg-icon" name="icon_scheduled"></span>
        <span class="svg-icon" name="icon_scheduled"></span>
        <ul>
          {% for value in benefits %}
            <li>{{ value }}</li>
          {% endfor %}
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque aliquid est nemo possimus fugiat eaque
          autem, nihil ea iste, tempore asperiores dicta ullam nulla! Libero quod aspernatur reprehenderit sapiente
          accusamus!</p>
      </div>
    </section>
    <section class="section layout__actions">
      <h1 class="section__title">Избранные сценарии</h1>
      <div class="actions-pager__buttons-wrapper">
        <button id="actions-page-prev">&lt;</button>
        <button id="actions-page-next">&gt;</button>
      </div>
      <div class="section__container actions-pager__container">
        <div class="actions-pager__wrapper">
          <div class="actions-pager__page">
            <div class="actions-pager__card-holder">
              <div class="card card--action">1</div>
            </div>
            <div class="actions-pager__card-holder">
              <div class="card card--action">2</div>
            </div>
            <div class="actions-pager__card-holder">
              <div class="card card--action">3</div>
            </div>
            <div class="actions-pager__card-holder">
              <div class="card card--action">4</div>
            </div>
            <div class="actions-pager__card-holder">
              <div class="card card--action">5</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section layout__devices">
      <h1 class="section__title">Избранные устройства</h1>
      <div class="devices-pager__buttons-wrapper">
        <button id="devices-page-prev">&lt;</button>
        <button id="devices-page-next">&gt;</button>
      </div>
      <div class="section__container devices-pager__container">
        <div class="devices-pager__wrapper">
          <div class="devices-pager__page">
            <div class="devices-pager__card-holder">
              <div class="card card--device">1</div>
            </div>
            <div class="devices-pager__card-holder">
              <div class="card card--device">2</div>
            </div>
            <div class="devices-pager__card-holder">
              <div class="card card--device">3</div>
            </div>
            <div class="devices-pager__card-holder">
              <div class="card card--device">4</div>
            </div>
            <div class="devices-pager__card-holder">
              <div class="card card--device">5</div>
            </div>
            <div class="devices-pager__card-holder">
              <div class="card card--device">6</div>
            </div>
            <div class="devices-pager__card-holder">
              <div class="card card--device">7</div>
            </div>
            <div class="devices-pager__card-holder">
              <div class="card card--device">8</div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
{% endblock %}
