.actions-pager {
  &__container {
    overflow: hidden;
    width: 100%;
    // prevent of cut the box shadow
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  &__wrapper {
    transition: transform 0.2s ease-in-out;
    display: grid;
    grid-template-columns: repeat(100, 100%);
  }
  &__page {
    grid-gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);

    grid-template-rows: repeat(3, 100px);
    grid-auto-rows: 0;
  }
  &__card-holder {
  }

  &__buttons-wrapper {
    position: absolute;
    right: 0;
    top: 0;
  }
}
