.card {
  $color-bg: #F7F7F7;
  $color-bg-hover: $white;
  $color-label: #858585;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: .2s;

  background-color: $color-bg;
  border-radius: $border-radius-default;
  padding: 15px;
  display: flex;
  overflow: hidden;
  border: none;
  text-align: left;

  &:hover,
  &:focus {
    background-color: $color-bg-hover;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
  }

  &--action {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 24px minmax(10px, 48px) minmax(0, min-content);
  }
  &--device {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 24px minmax(10px, 68px) minmax(0, min-content);
  }
  &--active {
    .temperature-body,
    .sun-disk {
      stroke: #f5a623;
      stroke-opacity: 1;
    }
    .temperature-mercury {
      fill: #ffd93e;
      fill-opacity: 1;
    }
    .sun-ray {
      stroke: #ffd93e;
      stroke-opacity: 1;
    }
  }

  &__title {
    margin: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: bolder;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }
  &__label {
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
    color: $color-label;
  }
}
