.card {
  background-color: #F7F7F7;
  border-radius: $border-radius-default;
  padding: 15px;
  display: flex;
  overflow: hidden;

  &--action {
    width: 100%;
    height: 100%;
  }
  &--device {
    width: 100%;
    height: 100%;
  }
}
