.header {
  &__container {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__title {
    margin: 0;
    margin-right: 37px;
  }
  &__nav-list {
    display: flex;
    font-weight: bolder;
  }
  &__nav-item {
    margin: 0 15px;
  }
  &__nav-item:not(.is-active) {
    opacity: 0.6;
  }

  &__nav-link {
    color: #333;
  }
  &__hr {
    height: 2px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #f0f0f0;
  }
}
