.popup {
  $is-open: '.popup__checkbox:checked ~ &';

  &__checkbox {
    position: absolute;
    display: none;
  }

  &__fader {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: $popup-animation-duration;
    z-index: 5;

    body.is-popup-open & {
      pointer-events: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgb(51, 51, 51);
      opacity: .5;
    }
  }

  &__container {
    z-index: 6;
    position: fixed;
    width: 630px;
    // height: 238px;
    opacity: 0.5;
    pointer-events: none;
    // left: 200px;
    // top: 200px;
    transition-property: width, height, left, top, transform;
    transition-duration: $popup-animation-duration;
    transition-timing-function: ease-in-out;
    transform: scale(0.5);
    transform-origin: top center;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
      'pbody pbody'
      'pbtna pbtnc';
    // transition: all 1s;

    /*#{$is-open} {
      position: fixed;
      width: 630px;
      height: 238px;
      margin-left: -315px;
      margin-top: -119px;
    }*/

    body.is-popup-open & {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);
    }
  }

  &__body {
    border-radius: 20px;
    padding: 25px;
    background-color: red;
    overflow: hidden;
    grid-area: pbody;
  }
  &__button {
    padding: 20px;

    &--primary {
      grid-area: pbtna;
    }
    &--secondary {
      grid-area: pbtnc;
    }
  }
  &__title {
    margin: 0;
    line-height: 27px;
    font-size: 31px;
    font-weight: bolder;
    transition-property: font-size, line-height;
    transition-duration: $popup-animation-duration;
  }
}

body.is-popup-open {
  position: fixed;
  overflow: hidden;

}

.header,
.main,
.footer {
  // transition-duration: $popup-animation-duration;
  // transition-property: filter;
  // filter: blur(0);

  body.is-popup-open & {
    filter: blur(4px);
  }
}
