body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $white;
  color: $black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 16px;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}
