@import "tokens";
@import "variables";
@import "mixins";

@import "reset";
@import "typography";

@import "elements";
@import "patterns";
@import "templates";

/* === */
@import "debug";

.clock-arrows {
  opacity: 1;
  stroke: red;
}
.clock-body {
  fill: lightcyan;
  stroke: lightgreen;
}
