.layout {

  &__html {
    height: 100vh;
  }

  &__body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  &__container {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "lm la"
      "ld ld";
  }
  &__main {
    grid-area: lm;
  }
  &__actions {
    grid-area: la;
  }
  &__devices {
    grid-area: ld;
  }
}


