$black:       hsl(0, 0%, 0%);
$black-02:    transparentize($black, .98);
$black-05:    transparentize($black, .95);
$black-10:    transparentize($black, .9);
$black-20:    transparentize($black, .8);
$black-30:    transparentize($black, .7);
$black-40:    transparentize($black, .6);
$black-50:    transparentize($black, .5);
$black-60:    transparentize($black, .4);
$black-70:    transparentize($black, .3);
$black-80:    transparentize($black, .2);
$black-90:    transparentize($black, .1);
