$white:       hsl(0, 100%, 100%);
$white-05:    transparentize($white, .95);
$white-10:    transparentize($white, .9);
$white-20:    transparentize($white, .8);
$white-30:    transparentize($white, .7);
$white-40:    transparentize($white, .6);
$white-50:    transparentize($white, .5);
$white-60:    transparentize($white, .4);
$white-70:    transparentize($white, .3);
$white-80:    transparentize($white, .2);
$white-90:    transparentize($white, .1);

$black:       hsl(0, 0%, 0%);
$black-02:    transparentize($black, .98);
$black-05:    transparentize($black, .95);
$black-10:    transparentize($black, .9);
$black-20:    transparentize($black, .8);
$black-30:    transparentize($black, .7);
$black-40:    transparentize($black, .6);
$black-50:    transparentize($black, .5);
$black-60:    transparentize($black, .4);
$black-70:    transparentize($black, .3);
$black-80:    transparentize($black, .2);
$black-90:    transparentize($black, .1);
