<!DOCTYPE html>
<html class="layout__html">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ title }}</title>

</head>
<body class="layout__body">

  {% block header %}
    {% include "../templates/header.twig" %}
  {% endblock %}

  <main class="main">
    {% block page %}{% endblock %}
  </main>

  {% block footer %}
    {% include "../templates/footer.twig" %}
  {% endblock %}

</body>
</html>
