<footer class="footer">
  <div class="container footer__container">
    <ul class="nav__list footer__nav-list">
      <li class="nav__item footer__nav-item">
        <a class="nav__link footer__nav-link" href="1">Помощь</a>
      </li>
      <li class="nav__item footer__nav-item">
        <a class="nav__link footer__nav-link" href="2">Обратная связь</a>
      </li>
      <li class="nav__item footer__nav-item">
        <a class="nav__link footer__nav-link" href="3">Разработчикам</a>
      </li>
      <li class="nav__item footer__nav-item">
        <a class="nav__link footer__nav-link" href="3">Условия использования</a>
      </li>
    </ul>
    <span class="footer__copyright">© 2001–2017  ООО «Яндекс»</span>
  </div>
</footer>
