<header class="header">
    <div class="container header__container">
        <h1 class="header__title">
            <a href="/" aria-label="Яндекс Дом - главная страница">
                <img src="{{ logo['@1x'] }}" srcset="{{ logo['@2x'] }} 2x" alt="Яндекс Дом">
            </a>
        </h1>
        <nav class="nav__container">
            <ul class="nav__list header__nav-list">
                <li class="nav__item header__nav-item is-active">
                    <a class="nav__link" href="/0">Сводка</a>
                </li>
                <li class="nav__item header__nav-item">
                    <a class="nav__link" href="/1">Устройства</a>
                </li>
                <li class="nav__item header__nav-item">
                    <a class="nav__link" href="/2">Сценарии</a>
                </li>
            </ul>
        </nav>
    </div>
    <hr class="header__hr">
</header>
